*{
    font-family:'segoe UI',sans-serif;
    padding:0;
    margin:0;
    
}
.top-bar{
    background-color:#f5f5f5;
    height:35px;
    width:100;
    
}

.dropdown{
    padding: 6px 20px 0 0;
    
     float:right;
}

 .drop-down{
    background-color:white;
    width:140px;
    text-align:center;
    height:25px;
    border-width:1px;
    cursor:pointer;
    border: 1px solid #9b9b9b;
}
.main-header{
    background-color:white;
    display:flex;
  
  
}
.logo img{
    width:200px;
    height:62px;
    padding:40px 0 0 40px;
    
  
}
.motto{
    color:#2C5F97;
    font-size:18px;
    font-weight:600;
    padding:15px 30px 0px 30px;
    border-left: 1px solid rgba(16, 95, 156, 0.25);
    border-right: 1px solid rgba(16, 95, 156, 0.25);
    margin: 30px 0 0 40px;
    height:45px;
    
}

   
.phone{
    color: #2C5F97;
    font-weight: 600;
    font-size: 22px;
    text-decoration:none;
   display:inline-block;
    margin:30px 0 0 20px;
   
}
.phone i{
    margin-right:7px;
    font-size:22px; 
    color:black;
}
.email{
  
    color:#6C6C6C;
    font-size:15px;
    text-decoration:none;
    display:inline-block;
    margin-left:20px;
}
.email i{
    color:black;
    padding-right:5px;
    font-size:20px;
}

.cart i{
    font-size:36px;
    margin:20px 0 0 125px;
    display:inline-block;
    color:#2C5F97;
}
.cart a{
    text-decoration:none;
    
}
.text{
    color:green;
    font-size:18px;
    display:block;
    margin-left:115px;
    
}
.amt{
    color:#787878;
    margin-left:130px;
    font-size:12px;
    display:block;
   
}
nav{
    background-color:#105f9c;
    height:40px;
    margin-top:15px;
}

.nav-bar li{
    display:inline-block;
 
}
.nav-bar a{
   display:block;
    color:#f2f2f2;
    margin:10px 0 0 115px;
    text-decoration: none;
    font-size: 16px;
    font-weight:600;
}
.main-body{
    background-image:url("image/hero.jpg");
    height: 95vh;
    background-size:cover;
    background-position:left center;
  
}
.welcome {
    color:#fff;
    text-align:center;
    font-size:50px;
    font-weight:800;
    padding:180px 0 0 620px;
    line-height:61px; 
}
.message{
        text-align:center;
        padding:40px 0 0 620px;
        font-size:35px;
        font-weight:700;
        line-height:40px;
     }
    .badge{
        margin:50px 0 0 695px;
        padding:7px 48px;
        text-align:center;
        line-height:24px;
        color:white;
        width:400px;
        font-weight:700;
        font-size:16px;
        display:inline-block;
        background-image:linear-gradient(80deg, #F34C4C 0%, #E32525 100%);
        clip-path: polygon(100% 0, calc(100% - 30px) 50%, 100% 100%, 0% 100%, 30px 50%, 0% 0%);
}
    .main-feature{
        background-color:#f5f5f5;
    }
    .feature-title{
        color:#2C5F97;
        text-align:center;
        font-size:37px;
        font-weight:800;
        margin:0;
        padding:10px 0 15px 0;
    }
    .feature-box{
        display:flex;
        margin: 0 25px 0 25px;
      
        
        
    }
    .plan-title{
        background-color:#F0FBFF;
        width:350px;
        height:100px;
        border-radius:8px 8px 0 0 ;
        border:1px solid #DFDFDF;
        
    }   
    .plan-title img{
      width:70px;
      margin-top:27px;
    } 
    .img-title{
        font-size:11px;
        margin-left: 18px;
        color:#00355E;
        font-weight:500;
    }
    .plan-head{
        margin:-55px 0 0 80px;
        border-left: 1px solid rgba(16, 95, 156, 0.25);
        padding:10px 0 0 30px;
        height:50px; 
        
    }
    .plan-heading {
        color:#42ABFC;
        font-size:14px;
        font-weight:600;
      


    }
    .heading-description{
        color:#2C5F97;
    }
    .plan-description{
        background-color:white;
        width:350px;
        height:250px;
        border-radius:0 0 8px 8px;
        border:1px solid #DFDFDF;
        border-top:0;
    }
   .plan{
       padding:0 25px 0 25px;
       
   }
   .plan-description ul{
    padding:15px 0 0 40px;;
   }
   .plan-description ul li{
      padding:25px 0 0 5px;
      font-size:12px;
      font-weight:500;
   }
   .get-rates{
    background-color:white;
    margin:40px 0 0 135px;
    border-radius:6px;
    border:1px solid#42ABFC;
    padding:7px;
   }
   .get-rates a{
    color:#42ABFC;
    text-decoration:none;
    font-size:14px;
    font-weight:500;
   }
   .get-rates:hover{
       background-color:#007bff;
   }
   .get-rates a:hover{
       color:white;
   }
   .view-more{
       background-color:rgb(0,114,188);
       font-size:14px;
       font-weight:600;
       border-radius:6px;
       border:1px solid grey;
       width:90px;
       margin:15px 0 15px 1050px;
       padding:5px;
       cursor:pointer;
   }
   .questions-info{
       text-align:center;
        color:white;
        background-image:url('image/question.jpg');
        padding:10px 0 0 0;
    
   }
   .contact{
      font-size:34px;
      font-weight:600;
   }
   .number{
     color:white;
     text-decoration:none;
   }
   .help-info{
       font-size:18px;
       font-weight:400;
       line-height:25px;
   }
   .number:hover{
       color:#317ed1;
   }
   .help{
       background-color:green;
       color:white;
       margin:10px 0 10px 0;
       height:30px;
       font-size:14px;
       padding:0 10px 0 10px;
   }
  .help:hover{
       background-color:lightgreen;
       color:black;
   }
   .main-footer{
       background-color:#052E4D;
       display:inline-flex;
       width:100%;
    
   }
   .logo img{
        margin:-10px 0 0 45px;

       
   }
   .copyright{
     margin:10px 0 0 80px;
     font-size:14px;
     color:white;
   }
   .powered {
     margin:30px 0 0 250px; 
     
   }
   .powered img{
       width:150px;
   }
   .contact-us{
        margin:40px 0 0 310px;
        font-size:14px;
        color:white;
        
   }
   .contact-us a{
    text-decoration:none;
    color:white;
   }